.answer, .correct-answer, .wrong-answer{
    display: none;
}

body {
    color: rgb(7, 7, 7);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center; 
    color: blueviolet; 
}

.pergunta{
  
color: black;}
  .quiz {
  width: 100%;
  max-width: 900px;
  margin-bottom: 48px;
}

li{
  cursor: pointer;
}

li:hover{
  background-color: burlywood;
}